.contato{
    font-family: 'Montserrat', sans-serif;
    margin-left:5%;
    margin-right:5%;
    margin-top:1%;
    display:flex;
    justify-content:space-around;
   
}

 h1{
    text-align:center;
    font-size:2.30em;
    margin-top:60px;
    font-family: 'Montserrat', sans-serif;
    text-decoration:underline  #F96E3D;
}
form{
    display:flex;
    flex-direction:column;
    padding:30px;
}
label{
    margin-bottom:5px;
    margin-top:5px;
}
input{
    border:2px solid #333;
}
.text_aera{
    display:flex;
    flex-direction:row;
    margin-top:10px;
    width:380px;
   
    justify-content:space-between;
}
.area{
    border:2px solid #333;
}


.contato ul {
    margin-top:5%;
}

.contato ul li{
    margin-bottom:20px;
}

.btn_enviar{
    width:100px;
    height:30px;
   border:0;
   background:#111;
   color:#fff;
   cursor: pointer;
   margin-top:10px;
}

.dimensionar{
    display: flex;
    justify-content: space-between;
}