h2 {
  display: table;
  margin: 4% auto;
  font-family: 'Arial';
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #444;
}

.container_img {
  display: table;
  margin: auto;
  cursor: pointer;
}

.produtos_carrinho {
  display: table;
  margin: auto;
  background: #fff;
  width: 80%;
}

.produtos_carrinho ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.produtos_carrinho ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Arial';
  border: 1px solid #ccc;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 10px;
}

.container_descricao p {
  font-family: 'Arial';
  font-size: 0.8em;
}

.container_valor {
  font-size: 1.2em;
}

.container_orçamento {
}

li.container_orçamento img {
  background: red;
}

.container_cep input {
  height: 40px;
  width: 300px;
  box-sizing: border-box;
  padding-left: 10px;
}

.container_cep button {
  height: 40px;
  background: #00a000;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.container_cep button:hover {
  background: #18bd18;
}
